<div class="container">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= form_for @product do |f| %>
        <div>
          <%= f.label :name%>
          <%= f.text_field :name%>
        </div>
        <div>
          <%= f.label :description%>
          <%= f.text_area :description%>
        </div>
        <div>
          <%= f.label :price%>
          <%= f.number_field :price%>
        </div>
        <div>
          <%= f.label :activo%>
          <%= f.text_area  :activo%>
        </div>
        <div>
          <!--<%= f.submit%> %>-->
          <input type="submit" value="Agregar">
        </div>
      <% end %>
    </div>
  </div>
</div>